<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<div class="post card">
        <div class="card-header">
          <h2>Edit Entry Information</h2>
        </div>
        <form id="edit-post-form" class="card-body">
          <input type="hidden" name="post-id" value="{{post.id}}" />
      
          <label class="form-label" for="post-title">Your first name</label>
          <input type="text" name="post-name" value="{{post.title}}" class="form-input" />
      
          <label class="form-label" for="post-name">Spouse's first name</label>
          <input type="text" name="post-name" value="{{post.}}" class="form-input">

          <label class="form-label" for="post-vanue-name">Venue name</label>
          <input type="text" name="post-Venue" value="{{post.}}" class="form-input" />

          <label class="form-label" for="post-location">Venue Location</label>
          <input type="text" name="post-location" value="{{post.}}" class="form-input" />

          <label class="form-label" for="post-location">Wedding Date</label>
          <input type="date" name="post-date" value="{{post.}}" class="form-input" />
      
          <button type="submit" class="btn">Update</button>
      
          <button type="button" id="delete-btn" class="btn">Delete</button>
        </form>
</div>
<div class="">
    <h2>Add More Information</h2>
    <select>
        <option value="Greeting-Letter">Greeting Letter</option>
        <option value="Catering">Catering</option>
        <option value="photographer">photographer</option>
        <option value="DJ">DJ</option>
        <option value="entertainment">Entertainment</option>
        <option value="kids">Are kids allowed</option>
    </select>
</div>